GeneratorClient/Service References/GeneratorServiceContracts/GeneratorServiceContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeneratorServiceContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeneratorServiceContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationToken" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" type="tns:Operations" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
      <xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="Operations">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Authenticate" />
      <xs:enumeration value="Decode" />
      <xs:enumeration value="Finish" />
      <xs:enumeration value="GetCompleted" />
      <xs:enumeration value="GetDecrypted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operations" nillable="true" type="tns:Operations" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sent" />
      <xs:enumeration value="Suceeded" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>