GeneratorClient/GeneratorService/Service References/JavaServer/Generator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.bank.com/" targetNamespace="http://facade.bank.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceOperation" type="tns:ServiceOperation" />
  <xs:element name="ServiceOperationResponse" type="tns:ServiceOperationResponse" />
  <xs:complexType name="ServiceOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="apptoken" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="info" type="xs:string" />
      <xs:element name="operations" type="xs:int" />
      <xs:element name="status" type="xs:int" />
      <xs:element minOccurs="0" name="usertoken" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceOperationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>